NET "clk" LOC = "B8";
NET "B_0" LOC = "B18";
NET "B_1" LOC = "D18";
NET "B_2" LOC = "E18";
NET "B_3" LOC = "H13";
NET "A" LOC = "G18";
NET "disp<0>" LOC = "L18";
NET "disp<1>" LOC = "F18";
NET "disp<2>" LOC = "D17";
NET "disp<3>" LOC = "D16";
NET "disp<4>" LOC = "G14";
NET "disp<5>" LOC = "J17";
NET "disp<6>" LOC = "H14";
NET "an<3>" LOC = "F17"; 
NET "an<2>" LOC = "H17";
NET "an<1>" LOC = "C18";
NET "an<0>" LOC = "F15";
NET "leds<0>" LOC = "J14";
NET "leds<1>" LOC = "J15";
NET "leds<2>" LOC = "K15";
NET "leds<3>" LOC = "K14";
NET "leds<4>" LOC = "E16";
NET "leds<5>" LOC = "P16";
NET "leds<6>" LOC = "E4";
NET "leds<7>" LOC = "P4";
